@import "fonts.scss";
@import "media-queries.scss";
a {
  color: #6c6868;
}
.navbar {
  &.navbar-fixed-top {
    background-color: #ccc;
    @include desktop {
      background-color: white;
    }
  }
}
.navbar-toggle {
  .icon-bar {
    background-color: #fff;
  }
}
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #bc1212;

  @include desktop {
    position: static;
    transform: initial;
    &:after {
      content: "";
      padding: 0 12px;
      border-right: 1px solid #ccc;
    }
  }
}

.Count {
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #2e2e2e;
  color: #ccc;
  // .col-sm-8 {
  //   display: none;
  //   @include desktop {
  //     display: block;
  //   }
  // }
}
// search bar

#custom-search-form {
  margin: 0;
  margin-top: 5px;
  padding: 0;
}

#custom-search-form .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 3px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-form button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}

.content {
  margin-top: 130px;
}
