* {
  font-family: "Noto Serif", serif;
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 16px; }

body {
  font-size: 1rem; }

img {
  width: 100%;
  display: block; }

.list-group-item:first-child {
  border-radius: 0; }

.noPadding {
  padding: 0; }

.ant-avatar {
  display: inline; }

#root .header {
  line-height: 48px; }
  #root .header .navbar-toggler {
    border: 0;
    outline: 0; }
  #root .header .header-collapse {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in; }
    @media (min-width: 768px) {
      #root .header .header-collapse {
        position: initial;
        height: initial; } }
  #root .header .user-bar {
    flex-direction: row; }
    #root .header .user-bar .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  #root .header .user-images {
    display: inline-block;
    vertical-align: middle; }
    #root .header .user-images img {
      border-radius: 50%; }
  #root .header .user-toggle {
    display: inline-block;
    vertical-align: middle; }
    #root .header .user-toggle .user-name {
      display: none;
      vertical-align: middle;
      margin-left: 10px; }
      @media (min-width: 768px) {
        #root .header .user-toggle .user-name {
          display: inline-block; } }
    #root .header .user-toggle .dropdown {
      display: inline-block; }
    #root .header .user-toggle .dropdown-toggle {
      outline: 0;
      border: 0;
      box-shadow: none;
      padding: 0;
      background-color: transparent;
      color: black; }
      #root .header .user-toggle .dropdown-toggle:after {
        vertical-align: middle; }
  #root .header .checkbox-middle {
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
    #root .header .checkbox-middle .icon-middle {
      display: inline-block;
      vertical-align: middle; }

#root .sub-header .nav-pills {
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap; }
  #root .sub-header .nav-pills .nav-item .nav-link {
    color: black; }
    #root .sub-header .nav-pills .nav-item .nav-link.active {
      background-color: initial;
      border-radius: 0;
      border-bottom: 3px solid red; }
