* {
  font-family: "Noto Serif", serif;
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 16px; }

body {
  font-size: 1rem; }

img {
  width: 100%;
  display: block; }

.list-group-item:first-child {
  border-radius: 0; }

.noPadding {
  padding: 0; }

.ant-avatar {
  display: inline; }

#root .header {
  line-height: 48px; }
  #root .header .navbar-toggler {
    border: 0;
    outline: 0; }
  #root .header .user-images {
    display: inline-block;
    vertical-align: middle; }
    #root .header .user-images img {
      border-radius: 50%; }
  #root .header .user-toggle {
    display: inline-block;
    vertical-align: middle; }
    #root .header .user-toggle .user-name {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px; }
    #root .header .user-toggle .dropdown {
      display: inline-block; }
    #root .header .user-toggle .dropdown-toggle {
      outline: 0;
      border: 0;
      box-shadow: none;
      padding: 0;
      background-color: transparent;
      color: black; }
      #root .header .user-toggle .dropdown-toggle:after {
        vertical-align: middle; }
  #root .header .checkbox-middle {
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
    #root .header .checkbox-middle .icon-middle {
      display: inline-block;
      vertical-align: middle; }

#root .sub-header .nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  border: 0; }

#root .sub-header .nav-item {
  display: inline-block;
  margin: 0; }
  #root .sub-header .nav-item .nav-link.active {
    border: 0;
    border-bottom: 3px solid red; }
